{% extends "padre.html" %}
  {% block mensaje %}
    Página evento
  {% endblock %}

  {% block estilos %}
    <link rel="stylesheet" type="text/css" href="../styles/style_evento.css">
    <script src="../js/comments.js" defer></script>
    <script src="../js/submit.js" defer></script>
    <script src="../js/censor.js" defer></script>
  {% endblock %}

  {% block central %}
    <div class="social">
    			<button type="button" class="collapsible" id="collapsible" >Comentar</button>
    			<a href="evento_print.php"><button class="print">Imprimir</button></a>
    			<a href="https://twitter.com/"><button class="media">Twitter</button></a>
    			<a href="https://www.facebook.com/"><button class="media">Facebook</button></a>
    		</div>

    		<div class="comments" id="comments">

          {% for i in comentarios %}
            <article>
              <h3>{{i['nombre']}}</h3><small>{{i['fecha']}}</small>
              <p>{{i['comentario']}}</p>
            </article>
          {% endfor %}
<!--
    			<article>
    				<h3>Irina S.</h3><small>21/03/2021, 18:03</small>
    				<p>Tortor aliquam nulla facilisi cras. Pellentesque habitant morbi tristique senectus et.</p>
    			</article>

    			<article>
    				<h3>Antón C.</h3><small>17/02/2021, 11:47 </small>
    				<p>Dignissim convallis aenean
    				et tortor at risus viverra adipiscing. Tempor orci dapibus ultrices in.</p>
    			</article>
-->
    			<article>
    				<h3><span id="nombre_submit" class="comment_submit"></h3><small><span id="fecha_submit" class="comment_submit"></small>
    				<p><span id="comment_submit" class="comment_submit"></p>
    			</article>

    			<form onsubmit="return false">
    				<input type="text" id="name" placeholder="Nombre" class="name">
    				<input type="text" id="mail" placeholder="Correo" class="mail">
    				<input type="text" id="comm" placeholder="Comentario.." class="comm" onkeyup="censor(this)">
    				<input type="submit" id="send" value="↵" class="enviar" onclick="showInput();">
    			</form>

    		</div>

    <!----------------------------------------------------------------------------->

    		<div class="main">
    			<article>
    				<h1>{{ evento['nombre'] }}</h1>
    				<h3>Organiza: {{ evento['organiza'] }} </h3>
    				<h3>{{ evento['fecha'] }}</h3>

    				<div class="infoCartel">
    					<img alt="cartel evento" src="{{evento['imagen']}}" class="imagenCartel">
    					<p class="txtCartel">Créditos: CLR </p>
    				</div>

    				<p>{{ evento['descripcion'] }}<br><br>

    				</p>
    				<h3>Contacto: +{{ evento['telefono']}} </h3>
    			</article>
    		</div>

  {% endblock %}
