<!DOCTYPE html>
<html lang="es">

  <head>
      <title>Plannr</title>

      <meta charset="UTF-8">
      <meta name="author" content="CLR">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {% block estilos %}
      <link rel="stylesheet" type="text/css" href="../styles/style.css">
      {% endblock %}
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=K2D:wght@100&display=swap" rel="stylesheet">
  </head>

<!----------------------------------------------------------------------------->

  <body>
      {% block cabecera %}
            <div class="topbar">

              <a href="index.php">
                <img src="../images/plannr.png" class="logo">
              </a>

              <input type="text" placeholder="Search..">

              <a href="../images/error.png">
                <figure>
                  <img src="../images/user.png" class="usuario">
                  <figcaption> Mi cuenta </figcaption>
                </figure>
              </a>

            </div>

        <!----------------------------------------------------------------------------->

            <div class="nav">
              <a href="../images/error.png">
                <button>Soy plannr</button>
                <button>Soy organizador</button>
              </a>
            </div>

        <!----------------------------------------------------------------------------->
      {% endblock %}

      {% block central %}

      <p>Parte central de la plantilla</p>

      {% endblock %}
    </body>

    <footer>
        <h2>Contacta con nosotros:</h2>
        <small> Tfno: +555 123 000 </small>
        <br/>
        <small> E-mail: ayuda_plannr@plannr.com</small>
        <br/>
        <small> PLANNR es un proyecto de una página de organización de eventos desarrollada por Clara R</small>
        <small> para la Universidad de Granada, práctica 1 de la asignatura SIBW</small>
    </footer>
  </body>
</html>
