*{
  font-family: 'Comfortaa';
}

a{
	text-decoration: none;
}

a:hover{
	font-style: bold;
	transition-duration: 0.2s;
	color: #FFFF70;
}

html{
  height: auto;
  margin: auto;
  width: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

/******************************************************************************/
/******************************************************************************/

body{
	background-color: #ebf1f2;
  margin-bottom: 0px;
}


.topbar{
	width: 100%;
	height: 6em;
	left: 0em;
	right: 0em;
	top: 0em;
	position: fixed;
	background-color: #fafeff;
	box-shadow: 1px 1px 2px #ebf1f2;
	z-index: 10;
	padding: 0.5em 0.5em;
}

.topbar img.logo{
  position:fixed;
	height: 6em;
	width: 12em;
  left: 1em;
  top: 0.5em;
}

.topbar input[type=text]{
  position: fixed;
  right: 10em;
  top: 4em;
}

.topbar figcaption{
  position: fixed;
  right: 3em;
  top: 9.5em;
  font-size: 10px;
  color: #5a5d63;
}

.usuario{
  height: 5em;
  width: 5em;
  position: fixed;
  right: 1em;
  top: 0.7em;
  border-radius: 100px;
}

/*............................................................................*/

div.nav{
	width:		10em;
	height:		100%;
	left:			0em;
	top:			7em;
	position:	fixed;
	background-color:	#fafeff;
	z-index: 9;
	padding-top: 3em;
}

.nav button{
	width:10em;
	border: none;
  color: #12355B;
  padding: 16px 3px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'K2D';
}

.nav button:hover{
	background-color: #23D1BA;
  color: white;
}

/*............................................................................*/

div.social{
  position: fixed;
  width: 7%;
  background-color: #FFFF70;
  right: 0;
  top: 20%;
  z-index: 20;
}

.social button{
  width: 5em;
  height: 5em;
  border: none;
  color: #12355B;
  padding: 5px 5px;
  text-align: center;
  align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'K2D';
}

.active, .collapsible:hover {
  background-color: #ffff70;
}

/*............................................................................*/

.comments {
  width: 25%;
  height: 90%;
  padding: 10px 18px;
  display: none;
  position: fixed;
  background-color: #ffffde;
  right: 0;
  top: 20%;
  z-index: 10;
  overflow-y: visible;
  font-family: 'K2D';
  box-shadow: 2px 3px 5px #071422;
}

.comments article{
  margin-bottom: 15px;
}

.comments p, span p{
  width: 15em;
  font-family: 'Open Sans';
  margin-top: 5px;
  font-size: 13px;
  transition: max-height 02.2s ease-out;
}

.comments h3, .comments small, .comments p, span{
  font-family: 'K2D';
  margin: 1px;
}

/*............................................................................*/

form{
  bottom: 10px;
  position: fixed;
}

form .enviar{
  font-size: 30px;
  width: 10%;
  height: 2.6em;
  border: none;
  color: white;
  background-color: #ffb41f;
  padding: 5px 5px 15px 5px;
  text-align: center;
  align: center;
  display: inline-block;
}

form .comm{
  width: 80%;
  height: 6em;
  margin-top: 7px;
}

form .name{
  width: 30%;
}

/*............................................................................*/

div.main{
	height:		100%;
	width:		100%;
	left:			11em;
	top:			9em;
	bottom:		100px;
	position:	relative;
	z-index: 1;
  margin-bottom: 13em;
}

.main article{
	height: 100%;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	box-shadow: 1px 1px 2px #cfcfcf;
  color: #cc8b86;
  padding: 20px;
  margin-right: 15em;
}

.main article img{
  width: auto;
  height: 250px;
  margin: auto;
	position: relative;
	box-shadow: 1px 1px 2px #cfcfcf;
	border-radius: 10px;
  align: right;
}


.infoCartel{
  font-style: oblique;
  padding-right: 5px;
  float: right;
  font-size: 15px;
  text-align: right;
  margin: 5px 5px 5px 5px;
}


.txtCartel{
    margin: 5px 5px 5px 5px;
    opacity: 0.5;
}

.main article h1{
	font-size: 28px;
}

.main article h3{
	margin-top: 1px;
	margin-bottom: 1px;
	color:#ebbbb7;
}

.main article p{
	width: 80%;
	font-family: 'K2D';
	color: #5a5d63;
}

/******************************************************************************/

footer{
	width: 100%;
	height:	 9em;
  position: relative;
	color:		white;
	background-color: #071422;
	z-index: 6; /* Stay on top */
  bottom: 0;
  left: 10em;
	right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden; /* Disable vertical scroll */
  font-size: 10px;
  padding-left: 6em;
}
